body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 600 !important;
  color: #000000;
  margin: 0;
}
@media only screen and (max-width: 998px) {
  h1 br,
  h2 br,
  h3 br,
  h4 br,
  h5 br,
  h6 br,
  .h1 br,
  .h2 br,
  .h3 br,
  .h4 br,
  .h5 br,
  .h6 br {
    display: none;
  }
}

.h1 {
  margin: 0;
  font-size: 36px;
  font-weight: 300;
}
@media only screen and (max-width: 768px) {
  .h1 {
    font-size: 28px;
  }
}

p,
li {
  color: #000000;
}

a {
  color: #c2995e;
  transition: all 0.1s linear;
}

.single-post .entry-content p {
  text-align: justify;
}

.entry-content ul,
.entry-content ol {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 30px;
  font-weight: 300;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.underline {
  text-decoration: underline; /* Safari */
  text-decoration-color: #c2995e;
}

.btn-panel {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
.btn-panel span {
  color: #000000;
}

.section-title {
  font-size: 51px;
  line-height: 57px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 998px) {
  .section-title {
    font-size: 38px;
    line-height: 44px;
  }
}
@media only screen and (max-width: 768px) {
  .section-title {
    font-size: 31px;
    line-height: 37px;
  }
}
.section-title br {
  display: block !important;
}
.section-title span {
  color: #c2995e;
  display: block;
  margin: 10px 0;
}
@media only screen and (max-width: 768px) {
  .section-title span {
    margin: 15px 0;
  }
}
.section-title span b {
  font-size: 80px;
}
@media only screen and (max-width: 768px) {
  .section-title span b {
    font-size: 71px;
  }
}

.sticky-element {
  position: sticky;
  top: 100px;
}

html {
  scroll-behavior: smooth;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Prompt", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow-x: hidden;
}

body.active {
  overflow: hidden;
}

#main {
  margin-bottom: 50px;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
@media only screen and (max-width: 998px) {
  .container {
    width: 100%;
  }
}

.container-narrow {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
}
@media only screen and (max-width: 998px) {
  .container-narrow {
    width: 100%;
  }
}

.row {
  padding-left: 50px;
  padding-right: 50px;
}
@media only screen and (max-width: 768px) {
  .row {
    padding-left: 20px;
    padding-right: 20px;
  }
}

#error h2 {
  margin-bottom: 30px;
}

@keyframes scroll {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
#go-to-top.active {
  bottom: 40px;
  transform: all 0.8s;
}

#go-to-top {
  position: fixed;
  cursor: pointer;
  z-index: 9;
  width: 22px;
  height: 14px;
  bottom: -100px;
  right: 20px;
  transform: all 0.8s;
}
#go-to-top svg path {
  fill: #0d559c;
  transition: all 0.2s liner;
}
#go-to-top svg:hover path {
  opacity: 0.5;
}

.no-gap {
  gap: 0px;
}

.anchor {
  height: 100px;
  width: 100px;
  margin-top: -100px;
  position: absolute;
  z-index: -1;
}

.scroll-anchor {
  display: block;
  /* width: 100%; */
  /* height: 100px; */
  background: red;
  position: absolute;
  margin-top: -100px;
}

.go-pagination {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}

.admin-bar #header {
  top: 32px !important;
  z-index: 99 !important;
}

.inf-gd .inf-gd__wraper .inf-gd__baners {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.inf-gd .inf-gd__wraper .inf-gd__baners .inf__baner__item {
  width: 25%;
  padding: 10px;
}
@media only screen and (max-width: 998px) {
  .inf-gd .inf-gd__wraper .inf-gd__baners .inf__baner__item {
    width: 50%;
  }
}
@media only screen and (max-width: 460px) {
  .inf-gd .inf-gd__wraper .inf-gd__baners .inf__baner__item {
    width: 100%;
  }
}
.inf-gd .inf-gd__wraper .inf-gd__baners .inf__baner__item img {
  transition: all 0.1s linear;
  width: 100%;
  max-width: 100%;
  height: auto;
}
.inf-gd .inf-gd__wraper .inf-gd__baners .inf__baner__item:hover a img {
  transition: all 0.1s linear;
  filter: brightness(1.2);
}
.inf-gd .inf-gd__posts {
  display: flex;
  flex-wrap: wrap;
}
.inf-gd .inf-gd__posts .inf__baner__item {
  width: 33.33%;
  padding: 10px;
  margin-bottom: 15px;
}
@media only screen and (max-width: 998px) {
  .inf-gd .inf-gd__posts .inf__baner__item {
    width: 100%;
  }
}
.inf-gd .inf-gd__posts .inf__baner__item .img {
  font-size: 0px;
}
.inf-gd .inf-gd__posts .inf__baner__item .img a {
  overflow: hidden;
  display: block;
}
.inf-gd .inf-gd__posts .inf__baner__item .img img {
  width: 100%;
  height: auto;
  max-height: initial !important;
  display: block;
  float: none !important;
  margin: 0 !important;
  padding: 0;
  transition: all 0.1s linear;
}
.inf-gd .inf-gd__posts .inf__baner__item .meta {
  padding: 10px;
}
.inf-gd .inf-gd__posts .inf__baner__item .meta span {
  font-size: 14px;
}
.inf-gd .inf-gd__posts .inf__baner__item .title {
  padding: 0px 10px;
  display: block;
  font-size: 16px;
  text-decoration: none !important;
}
.inf-gd .inf-gd__posts .inf__baner__item .title h3 {
  transition: all 0.1s linear;
}
.inf-gd .inf-gd__posts .inf__baner__item:hover .img img {
  transform: scale(1.1);
}
.inf-gd .inf-gd__posts .inf__baner__item:hover .title {
  color: #c2995e !important;
}
.inf-gd .inf-gd__posts .inf__baner__item:hover .title h3 {
  color: #c2995e !important;
}
.inf-gd .inf-gd__app {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 50px 0;
}
@media only screen and (max-width: 768px) {
  .inf-gd .inf-gd__app {
    gap: 20px;
  }
}
@media only screen and (max-width: 460px) {
  .inf-gd .inf-gd__app {
    flex-wrap: wrap;
    text-align: center;
    gap: 0;
    padding: 0;
  }
}
.inf-gd .inf-gd__app .left {
  padding: 10px;
}
@media only screen and (max-width: 460px) {
  .inf-gd .inf-gd__app .left {
    padding: 30px 0 0 0;
  }
}
.inf-gd .inf-gd__app .right .top {
  margin-bottom: 15px;
}
.inf-gd .inf-gd__app .right .top span {
  display: block;
  font-size: 38px;
}
@media only screen and (max-width: 460px) {
  .inf-gd .inf-gd__app .right .top span {
    font-size: 21px;
  }
}
.inf-gd .inf-gd__app .right .bottom a {
  margin: 5px;
}
.inf-gd .inf-gd__app .right .bottom a:hover {
  transition: all 0.1s linear;
  filter: brightness(1.2);
}/*# sourceMappingURL=informator.css.map */