@import "../../src/css/scss/variable";
@import "../../src/css/scss/typo";
@import "../../src/css/scss/global";

.go-banner {
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    gap: 20px;
    @media #{$sm} {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }

    h2 {
      font-size: 36px;
      margin: 0;
      padding: 0;
      @media #{$md} {
        font-size: 31px;
      }
      @media #{$sm} {
        font-size: 28px;
      }
      @media #{$xs} {
        font-size: 21px;
      }
    }
    p {
      margin: 0;
      padding: 0;
    }
  }
}
