*,
::after,
::before {
  box-sizing: border-box;
}

.form-group {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;

  // ::placeholder {
  //   // color: #fff !important;
  // }
  .wpcf7-form-control-wrap {
    width: 100%;
    padding-right: 15px;
    padding-bottom: 15px;
  }
}
.form-control {
  outline: none;
  border: 1px solid #c8e2fc;
  background: #fff;
  height: 50px;
  line-height: 34px;
  vertical-align: middle;
  border-radius: 3px;
  padding: 10px;
  margin: 5px 0 10px;
  width: 100%;
}
textarea.form-control {
  height: 200px;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
}
.col-1 {
  width: 100%;
}
.col-2 {
  width: 50%;
  @media #{$sm} {
    width: 100%;
  }
}
.col-3 {
  width: 33.333%;
  @media #{$sm} {
    width: 100%;
  }
}

.form-group.checkbox {
  width: 70%;
  @media #{$sm} {
    width: 100%;
  }
  label {
    align-items: center;
    display: flex;
    gap: 10px;
  }
  input {
    width: 20px;
  }
  span {
    font-size: 12px;
  }
}
.btn-form {
  width: 30%;
  @media #{$sm} {
    width: 100%;
  }
}
.wpcf7-submit {
  margin: 15px 25px;
  background: $main;
  border: 1px solid $main;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  // width: 100%;
  @media #{$sm} {
    width: 100%;
    display: block;
  }
  &:hover {
    background-color: $main;
    color: #fff;
  }
}

.wpcf7-spinner {
  position: absolute;
  top: 30%;
  right: 0px;
}

.wpcf7-not-valid-tip {
  //   position: absolute;
  //   -webkit-transform: translateY(18px);
  //   transform: translateY(18px);
  font-size: 12px !important;
  color: red !important;
}

select {
  border: 2px solid #fff !important;
}

.btn-form-wraper {
  position: relative;
}

.tf-box-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
}
