// Error 404
.error404 {
  .entry-title {
    font-size: 100px !important;
    margin: 20px 0;
    text-align: center;
  }
  .btn {
    text-align: center;
    margin: 0 auto;
    white-space: initial;
  }
}

#error {
  padding: 0 0 50px 0;
}

// Home page
