.posts-wraper {
  display: flex;
  flex-wrap: wrap;
  // gap: 20px;
  .post-item {
    width: calc(33.333333%);
    padding: 20px;
    @media #{$md} {
      width: 100%;
    }
    @media #{$sm} {
      width: 100%;
      margin-bottom: 20px;
      padding: 0px;
    }
  }
  .entry-content {
    width: 100%;
    max-width: 100%;
    margin-top: 50px;
    @media #{$sm} {
      margin-top: 30px;
    }
  }
}
.posts-wraper--suggested {
  .post-item {
    width: calc(33.333333%);
    padding: 20px;
    @media #{$md} {
      width: 100%;
    }
    @media #{$sm} {
      width: 100%;
      margin-bottom: 0px;
      padding: 0px;
    }
    footer {
      @media #{$xlg} {
        flex-wrap: wrap !important;
      }
    }
    .meta {
      span b,
      span {
        font-size: 12px;
        line-height: 16px;
      }
      ul {
        li {
          a {
            font-size: 12px;
            line-height: 16px;
          }
        }
      }
    }
  }
}
.post-item {
  img {
    width: 100%;
    height: auto;
  }
  hr {
    border-top: 1px solid $light;
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    @media #{$xxlg} {
      padding: 10px;
      flex-wrap: wrap;
    }
    @media #{$md} {
      flex-wrap: nowrap;
    }
    @media #{$sm} {
      flex-wrap: nowrap;
      padding: 0 0 10px;
    }
    @media #{$xs} {
      flex-wrap: wrap;
    }
    .btn-rev {
      display: inline-block;
      white-space: nowrap;
      font-size: 14px;
      padding: 5px 15px;
      margin: 15px 0;
      display: inline-block;
      @media #{$sm} {
        padding: 5px 15px;
        margin: 0 0 10px 0;
      }
    }
  }
  h2 {
    font-size: 21px;
    line-height: 27px;
    font-weight: 600;
    padding-right: 30px;
    @media #{$xxlg} {
      width: 100%;
      padding-right: 0px;
      font-size: 19px;
      line-height: 25px;
    }
    @media #{$md} {
      padding-right: 0px;
    }
    @media #{$sm} {
      padding-right: 20px;
      margin: 10px 0;
    }
    @media #{$xs} {
      padding-right: 0px;
    }

    a {
      color: $black;
      text-decoration: none;
      &:hover {
        color: $main;
      }
    }
  }
  .content__btn {
    @media #{$xxlg} {
      width: 100%;
      text-align: right;
    }
    a {
      @media #{$sm} {
        margin: 10px 0;
      }
    }
  }
}

// Single post
.single-post {
  .section-title {
    @media #{$xs} {
      font-size: 24px;
      line-height: 30px;
    }
  }

  .t-page-wraper {
    padding: 50px 0px;
    text-align: center;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    @media #{$sm} {
      padding: 30px 0;
    }
    // h1 {
    //   font-size: 38px;
    //   line-height: 37px;
    //   margin-bottom: 20px;
    // }
  }
  .img-wraper {
    position: relative;
    max-width: 1115px;
    width: 100%;
    margin: 0 auto;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  .entry-content {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    .hr {
      border-top: 1px solid $light;
      margin-bottom: 50px;
      @media #{$sm} {
        margin-bottom: 30px;
      }
    }
  }
}

.meta-group {
  display: flex;
  //   flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  .meta {
    padding: 10px;
    @media #{$sm} {
      padding: 10px 2px;
    }
    * {
      font-size: 12px;
      color: $light-black;
    }
  }
  .meta-pub {
    text-align: right;
  }
  .meta-category {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      li {
        a {
          font-size: 12px;
          padding: 5px;
          color: $light-black;
          text-decoration: none;
          &:hover {
            color: $main;
          }
        }
      }
    }
  }
}
// bio
#author-bio {
  margin-top: 50px;
  padding: 30px 10px 10px;
  border-top: 1px solid $light;
  border-bottom: 1px solid $light;
  display: flex;
  gap: 10px;
  @media #{$sm} {
    flex-wrap: wrap;
  }

  #author-avatar {
    img {
      // border-radius: 100%;
    }
  }
  #author-details {
    .author-head {
      p.h3 {
        a {
          text-decoration: none;
        }
      }
    }
  }
}

#articles {
  .section-title {
    @media #{$x} {
      font-size: 18px;
      line-height: 24px;
    }
  }
}

// Breathcrumb
.rank-math-breadcrumb {
  p {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    @media #{$sm} {
      gap: 3px;
    }
  }
  a {
    text-decoration: none;
    font-size: 16px;
    @media #{$xs} {
      font-size: 14px;
    }
    @media #{$x} {
      font-size: 12px;
    }
  }
  .last {
    color: $black;
    font-size: 16px;
    display: inline-block;
    // width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-overflow: "----";
    @media #{$xs} {
      font-size: 14px;
    }
    @media #{$x} {
      font-size: 12px;
    }
  }
}
// pagination
.go-pagination {
  display: block;
  width: 100%;
  text-align: center;
  margin: 50px 0;
  @media #{$sm} {
    margin: 30px 0;
  }
  .page-numbers {
    text-decoration: none;
    color: $black;
    padding: 10px;
    &:hover {
      color: $main;
    }
  }
  .current {
    font-weight: bold;
    color: #fff;
    background-color: $black;
  }
}

.kk-ata {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media #{$sm} {
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .kk-ata__wraper {
    span {
      display: block;
      font-size: 12px;
      color: $light-black;
      margin-bottom: 5px;
    }
  }
  .kksr-muted,
  .kksr-legend {
    font-size: 12px;
  }
}
