// Query
$xx: "only screen and (max-width: 350px)";
$x: "only screen and (max-width: 400px)";
$xs: "only screen and (max-width: 460px)";
$sm: "only screen and (max-width: 768px)";
$md: "only screen and (max-width: 998px)";
$lg: "only screen and (max-width: 1300px)";
$xlg: "only screen and (max-width: 1400px)";
$xxlg: "only screen and (max-width: 1500px)";

$main: #c2995e;
$main2: #0d559c;
$main3: #febe2c;
$main4: #faf6f1;

$black: #000000;
$light-black: #000000;
$gray: #eeeef0;
$light: #eeeef0;
