body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 600 !important;
  color: #000000;
  margin: 0;
}
@media only screen and (max-width: 998px) {
  h1 br,
  h2 br,
  h3 br,
  h4 br,
  h5 br,
  h6 br,
  .h1 br,
  .h2 br,
  .h3 br,
  .h4 br,
  .h5 br,
  .h6 br {
    display: none;
  }
}

.h1 {
  margin: 0;
  font-size: 36px;
  font-weight: 300;
}
@media only screen and (max-width: 768px) {
  .h1 {
    font-size: 28px;
  }
}

p,
li {
  color: #000000;
}

a {
  color: #c2995e;
  transition: all 0.1s linear;
}

.single-post .entry-content p {
  text-align: justify;
}

.entry-content ul,
.entry-content ol {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 30px;
  font-weight: 300;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.underline {
  text-decoration: underline; /* Safari */
  text-decoration-color: #c2995e;
}

.btn-panel {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
.btn-panel span {
  color: #000000;
}

.section-title {
  font-size: 51px;
  line-height: 57px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 998px) {
  .section-title {
    font-size: 38px;
    line-height: 44px;
  }
}
@media only screen and (max-width: 768px) {
  .section-title {
    font-size: 31px;
    line-height: 37px;
  }
}
.section-title br {
  display: block !important;
}
.section-title span {
  color: #c2995e;
  display: block;
  margin: 10px 0;
}
@media only screen and (max-width: 768px) {
  .section-title span {
    margin: 15px 0;
  }
}
.section-title span b {
  font-size: 80px;
}
@media only screen and (max-width: 768px) {
  .section-title span b {
    font-size: 71px;
  }
}

.sticky-element {
  position: sticky;
  top: 100px;
}

html {
  scroll-behavior: smooth;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Prompt", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow-x: hidden;
}

body.active {
  overflow: hidden;
}

#main {
  margin-bottom: 50px;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
@media only screen and (max-width: 998px) {
  .container {
    width: 100%;
  }
}

.container-narrow {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
}
@media only screen and (max-width: 998px) {
  .container-narrow {
    width: 100%;
  }
}

.row {
  padding-left: 50px;
  padding-right: 50px;
}
@media only screen and (max-width: 768px) {
  .row {
    padding-left: 20px;
    padding-right: 20px;
  }
}

#error h2 {
  margin-bottom: 30px;
}

@keyframes scroll {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
#go-to-top.active {
  bottom: 40px;
  transform: all 0.8s;
}

#go-to-top {
  position: fixed;
  cursor: pointer;
  z-index: 9;
  width: 22px;
  height: 14px;
  bottom: -100px;
  right: 20px;
  transform: all 0.8s;
}
#go-to-top svg path {
  fill: #0d559c;
  transition: all 0.2s liner;
}
#go-to-top svg:hover path {
  opacity: 0.5;
}

.no-gap {
  gap: 0px;
}

.anchor {
  height: 100px;
  width: 100px;
  margin-top: -100px;
  position: absolute;
  z-index: -1;
}

.scroll-anchor {
  display: block;
  /* width: 100%; */
  /* height: 100px; */
  background: red;
  position: absolute;
  margin-top: -100px;
}

.go-pagination {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}

#footer {
  margin-top: 50px;
  background-color: #faf6f1;
  padding-bottom: 20px;
  padding-top: 50px;
}

.f-main {
  margin-bottom: 50px;
}
.f-main .f-main__wraper {
  padding: 0 15px;
  display: flex;
  gap: 20px;
}
@media only screen and (max-width: 998px) {
  .f-main .f-main__wraper {
    flex-wrap: wrap;
    padding: 0;
  }
}
@media only screen and (max-width: 768px) {
  .f-main .f-main__wraper {
    gap: 0;
  }
}
.f-main .f-main__wraper .col:nth-child(1) {
  width: 40%;
  padding-right: 30px;
}
@media only screen and (max-width: 998px) {
  .f-main .f-main__wraper .col:nth-child(1) {
    width: calc(40% - 20px);
  }
}
@media only screen and (max-width: 768px) {
  .f-main .f-main__wraper .col:nth-child(1) {
    width: 100% !important;
  }
}
.f-main .f-main__wraper .col:nth-child(2) {
  width: 20%;
}
@media only screen and (max-width: 998px) {
  .f-main .f-main__wraper .col:nth-child(2) {
    width: calc(30% - 20px);
  }
}
@media only screen and (max-width: 768px) {
  .f-main .f-main__wraper .col:nth-child(2) {
    width: 100% !important;
  }
}
.f-main .f-main__wraper .col:nth-child(3) {
  width: 20%;
}
@media only screen and (max-width: 998px) {
  .f-main .f-main__wraper .col:nth-child(3) {
    width: calc(30% - 20px);
  }
}
@media only screen and (max-width: 768px) {
  .f-main .f-main__wraper .col:nth-child(3) {
    width: 100% !important;
  }
}
.f-main .f-main__wraper .col:nth-child(4) {
  width: 20%;
}
@media only screen and (max-width: 998px) {
  .f-main .f-main__wraper .col:nth-child(4) {
    width: calc(40% - 20px);
  }
}
@media only screen and (max-width: 768px) {
  .f-main .f-main__wraper .col:nth-child(4) {
    width: 100% !important;
  }
}
.f-main .f-main__wraper .col:nth-child(5) {
  width: 15%;
}
@media only screen and (max-width: 768px) {
  .f-main .f-main__wraper .col:nth-child(5) {
    width: 100% !important;
  }
}
.f-main .f-main__wraper__desc p {
  font-weight: 300;
  font-size: 13px;
  line-height: 21px;
}
.f-main .calaps {
  margin-top: -1px;
}
@media only screen and (max-width: 768px) {
  .f-main .calaps {
    border-bottom: 1px solid #000000;
    padding: 0px 10px;
  }
}
@media only screen and (max-width: 768px) {
  .f-main .calaps .calaps__opener {
    position: relative;
  }
  .f-main .calaps .calaps__opener::after {
    content: "";
    background-image: url(../img/icons/arrow.svg);
    width: 18px;
    height: 9px;
    display: block;
    position: absolute;
    color: #000000;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
  }
}
@media only screen and (max-width: 768px) {
  .f-main .calaps .calaps__list {
    display: none;
    margin-top: 20px;
    padding-bottom: 10px;
  }
}
.f-main .calaps.active .calaps__opener::after {
  transform: translate(0, -50%) rotate(180deg);
}
.f-main .calaps.active .calaps__list {
  display: block !important;
}
@media only screen and (max-width: 768px) {
  .f-main .logo {
    display: block;
    text-align: center;
    margin-bottom: 50px;
  }
}
.f-main p {
  font-weight: 700;
  font-size: 18px;
}
.f-main ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.f-main ul li {
  margin-bottom: 10px;
}
.f-main ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
}
.f-main ul li a:hover {
  color: #c2995e !important;
}
.f-main .social-media {
  margin-top: 30px;
}
@media only screen and (max-width: 768px) {
  .f-main .social-media {
    text-align: center;
  }
}
.f-main .social-media > span {
  margin-bottom: 15px;
  display: block;
  font-size: 10px;
  color: #000000;
}
.f-main .social-media ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  display: flex;
  gap: 15px;
}
@media only screen and (max-width: 768px) {
  .f-main .social-media ul {
    justify-content: center;
  }
}
.f__info {
  text-align: center;
  border-top: 1px solid #808080;
  padding: 20px 0;
}
.f__info .f__info__wraper {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .f__info .f__info__wraper {
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.f__info .f__info__wraper p {
  font-size: 14px;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 768px) {
  .f__info .f__info__wraper p {
    display: block;
    width: 100%;
  }
}

#header {
  transition: all 0.3s linear;
  background-color: #0d559c;
  border-bottom: 1px solid #eeeef0;
  z-index: 99;
  width: 100%;
  top: 0px;
}
#header .header__bottom {
  transition: all 0.3s linear;
  position: relative;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
@media only screen and (max-width: 1300px) {
  #header .header__bottom {
    gap: 20px;
  }
}
@media only screen and (max-width: 768px) {
  #header .header__bottom {
    gap: 0px;
  }
}
@media only screen and (max-width: 1300px) {
  #header .header__bottom {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 768px) {
  #header .header__bottom {
    padding: 0 0 15px 0;
  }
}
#header .header__bottom .navbar__wraper {
  width: 100%;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 1300px) {
  #header .header__bottom .navbar__wraper {
    flex-wrap: wrap;
    width: 100%;
  }
}
#header .header__top {
  transition: all 0.3s linear;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.js-header.active {
  transition: all 0.3s linear;
  position: fixed;
  top: 0;
  width: 100%;
}
.js-header.active .header__top {
  padding: 5px 0 !important;
}
.js-header.active .header__bottom {
  padding: 10px 0 !important;
}

.js-header.remove-top {
  transform: translate(0, -66px);
}

@media only screen and (max-width: 1300px) {
  .header__brand {
    flex: auto;
  }
}
@media only screen and (max-width: 768px) {
  .header__brand {
    max-width: 70%;
  }
}
@media only screen and (max-width: 460px) {
  .header__brand {
    max-width: 50%;
  }
  .header__brand img {
    width: 100%;
    height: auto;
  }
}
.header__brand * {
  color: #fff;
}
@media only screen and (max-width: 1500px) {
  .header__brand svg {
    width: 215px;
    height: auto;
  }
}
@media only screen and (max-width: 1400px) {
  .header__brand svg {
    width: 180px;
    height: auto;
  }
}
@media only screen and (max-width: 460px) {
  .header__brand svg {
    width: 100%;
    height: auto;
  }
}

.header__cta a {
  font-size: 14px;
  padding: 10px 25px;
}

.header__links a {
  font-size: 16px;
  font-weight: 300;
  padding: 15px;
  color: #fff;
  text-decoration: none;
}
.header__links a:first-child {
  padding-left: 0px;
}
.header__links a img {
  display: inline-block;
  vertical-align: middle;
}
.header__links a span {
  display: inline-block;
  vertical-align: middle;
}
.header__links a:hover span {
  color: #c2995e;
}

@media only screen and (max-width: 768px) {
  .navbar__navigation {
    flex: none;
    order: 4;
  }
}
.navbar__navigation > ul {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .navbar__navigation > ul {
    position: fixed;
    top: 0px;
    right: -100%;
    display: block !important;
    width: 100%;
    max-width: 300px;
    height: 100vh;
    padding-top: 150px;
    background: #2c2c2c;
    text-align: right;
  }
}
.navbar__navigation > ul li {
  margin: 0;
  padding: 0;
}
.navbar__navigation > ul li:first-child a {
  padding-left: 0px;
}
.navbar__navigation > ul li a {
  font-size: 18px;
  font-weight: 300;
  padding: 15px;
  color: #fff;
  text-decoration: none;
}
@media only screen and (max-width: 998px) {
  .navbar__navigation > ul li a {
    font-size: 14px;
    font-weight: 300;
    padding: 10px 5px;
  }
}
@media only screen and (max-width: 768px) {
  .navbar__navigation > ul li a {
    display: block;
    padding: 20px;
    padding: 10px 0 !important;
    font-size: 21px;
    color: #fff;
  }
}
.navbar__navigation > ul li a:hover {
  color: #c2995e;
}
.navbar__navigation > ul li .btn {
  padding: initial;
}
.navbar__navigation > ul .current_page_item,
.navbar__navigation > ul .current-page-ancestor,
.navbar__navigation > ul .current-menu-item {
  position: relative;
}
.navbar__navigation > ul .current_page_item > a,
.navbar__navigation > ul .current-page-ancestor > a,
.navbar__navigation > ul .current-menu-item > a {
  font-weight: 700;
  color: #c2995e;
}

.navbar__navigation.active > ul {
  transition: all 0.1s linear;
  right: 0px !important;
  padding-right: 30px;
  border: none;
}
.navbar__navigation.active > ul li {
  transition: all 0.4s linear;
}
.navbar__navigation.active .sub-menu {
  box-shadow: none;
}

.header__toggler {
  display: none;
  align-items: center;
  gap: 10px;
  transform: translateY(-2px);
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .header__toggler {
    display: flex;
    order: 4;
  }
}
.header__toggler > span {
  font-size: 12px;
  transform: translateY(1px);
  color: #000000;
}
.header__toggler .header__toggler__btn span {
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 100px;
  background-color: #c2995e;
  transition: all 0.1s linear;
}
.header__toggler .header__toggler__btn span:nth-child(2) {
  transform: translateY(3px);
  width: 25px;
}
.header__toggler .header__toggler__btn span:nth-child(3) {
  transform: translateY(6px);
  width: 20px;
}
.header__toggler:hover .header__toggler__btn span {
  display: block;
  width: 30px !important;
}

.header__toggler.active .header__toggler__btn span {
  background-color: #c2995e;
  transition: initial;
}
.header__toggler.active .header__toggler__btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
  transform-origin: 40% 0;
}
.header__toggler.active .header__toggler__btn span:nth-child(2) {
  opacity: 0;
  width: 0px;
}
.header__toggler.active .header__toggler__btn span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
  width: 100%;
  transform-origin: 30% 0;
}

.entry-header {
  text-align: center;
  padding: 50px 0;
}
@media only screen and (max-width: 768px) {
  .entry-header {
    padding: 30px 0;
  }
}
.entry-header .entry-title {
  font-size: 51px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 998px) {
  .entry-header .entry-title {
    font-size: 38px;
  }
}
@media only screen and (max-width: 768px) {
  .entry-header .entry-title {
    font-size: 31px;
  }
}

.taxonomy-description {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.i-header {
  position: relative;
  width: 100vw;
  margin-left: -50vw;
  left: 50%;
}
.i-header .i-header__wraper {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .i-header .i-header__wraper {
    flex-wrap: wrap;
  }
}
.i-header .i-header__wraper .col {
  width: 50%;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .i-header .i-header__wraper .col {
    width: 100%;
  }
}
.i-header .i-header__wraper .col:nth-child(1) {
  padding: 30px 100px 30px 0px;
}
@media only screen and (max-width: 768px) {
  .i-header .i-header__wraper .col:nth-child(1) {
    padding: 30px 0;
  }
}
.i-header .i-header__wraper .col:nth-child(2) {
  align-self: stretch;
}
@media only screen and (max-width: 768px) {
  .i-header .i-header__wraper .col:nth-child(2) {
    width: 100%;
  }
}
.i-header .i-header__wraper .col .img {
  align-self: stretch;
  overflow: hidden;
  width: 100%;
  position: relative;
  min-height: 480px;
  height: 100%;
}
@media only screen and (max-width: 768px) {
  .i-header .i-header__wraper .col .img {
    height: initial;
    min-height: 300px;
  }
}
.i-header .i-header__wraper .col .img img {
  max-height: 650px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.i-header__excerpt {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .i-header__excerpt {
    flex-wrap: wrap;
  }
}
.i-header__excerpt > div {
  width: 50%;
}
@media only screen and (max-width: 768px) {
  .i-header__excerpt > div {
    width: 100%;
  }
}
.i-header__excerpt .i-header__excerpt__wraper {
  background-color: #fff;
  box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 20px;
  width: 35%;
  transform: translate(calc(-28% - 100px), -50%);
  position: relative;
  z-index: 5;
}
@media only screen and (max-width: 768px) {
  .i-header__excerpt .i-header__excerpt__wraper {
    width: 100%;
    transform: translate(0, 0);
  }
}
.i-header__excerpt .i-header__excerpt__wraper .top {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media only screen and (max-width: 998px) {
  .i-header__excerpt .i-header__excerpt__wraper .top {
    flex-wrap: wrap;
  }
}
.i-header__excerpt .i-header__excerpt__wraper .top h2 {
  font-size: 18px;
  font-weight: 600;
  width: 70%;
}
@media only screen and (max-width: 998px) {
  .i-header__excerpt .i-header__excerpt__wraper .top h2 {
    width: 100%;
  }
}
.i-header__excerpt .i-header__excerpt__wraper .top .btn-rev {
  text-align: center;
  width: 30%;
  padding: 5px 11px;
  font-size: 14px;
  display: block;
}
@media only screen and (max-width: 998px) {
  .i-header__excerpt .i-header__excerpt__wraper .top .btn-rev {
    width: 100%;
  }
}

.error404 .entry-title {
  font-size: 100px !important;
  margin: 20px 0;
  text-align: center;
}
.error404 .btn {
  text-align: center;
  margin: 0 auto;
  white-space: initial;
}

#error {
  padding: 0 0 50px 0;
}

.posts-wraper {
  display: flex;
  flex-wrap: wrap;
}
.posts-wraper .post-item {
  width: 33.333333%;
  padding: 20px;
}
@media only screen and (max-width: 998px) {
  .posts-wraper .post-item {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .posts-wraper .post-item {
    width: 100%;
    margin-bottom: 20px;
    padding: 0px;
  }
}
.posts-wraper .entry-content {
  width: 100%;
  max-width: 100%;
  margin-top: 50px;
}
@media only screen and (max-width: 768px) {
  .posts-wraper .entry-content {
    margin-top: 30px;
  }
}

.posts-wraper--suggested .post-item {
  width: 33.333333%;
  padding: 20px;
}
@media only screen and (max-width: 998px) {
  .posts-wraper--suggested .post-item {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .posts-wraper--suggested .post-item {
    width: 100%;
    margin-bottom: 0px;
    padding: 0px;
  }
}
@media only screen and (max-width: 1400px) {
  .posts-wraper--suggested .post-item footer {
    flex-wrap: wrap !important;
  }
}
.posts-wraper--suggested .post-item .meta span b,
.posts-wraper--suggested .post-item .meta span {
  font-size: 12px;
  line-height: 16px;
}
.posts-wraper--suggested .post-item .meta ul li a {
  font-size: 12px;
  line-height: 16px;
}

.post-item a {
  overflow: hidden;
  display: block;
}
.post-item img {
  width: 100%;
  height: auto;
  transition: all 0.1s linear;
}
.post-item hr {
  border-top: 1px solid #eeeef0;
}
.post-item .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
@media only screen and (max-width: 1500px) {
  .post-item .content {
    padding: 10px;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 998px) {
  .post-item .content {
    flex-wrap: nowrap;
  }
}
@media only screen and (max-width: 768px) {
  .post-item .content {
    flex-wrap: nowrap;
    padding: 0 0 10px;
  }
}
@media only screen and (max-width: 460px) {
  .post-item .content {
    flex-wrap: wrap;
  }
}
.post-item .content .btn-rev {
  display: inline-block;
  white-space: nowrap;
  font-size: 14px;
  padding: 5px 15px;
  margin: 15px 0;
  display: inline-block;
}
@media only screen and (max-width: 768px) {
  .post-item .content .btn-rev {
    padding: 5px 15px;
    margin: 0 0 10px 0;
  }
}
.post-item h2 {
  font-size: 21px;
  line-height: 27px;
  font-weight: 600;
  padding-right: 30px;
}
@media only screen and (max-width: 1500px) {
  .post-item h2 {
    width: 100%;
    padding-right: 0px;
    font-size: 19px;
    line-height: 25px;
  }
}
@media only screen and (max-width: 998px) {
  .post-item h2 {
    padding-right: 0px;
  }
}
@media only screen and (max-width: 768px) {
  .post-item h2 {
    padding-right: 20px;
    margin: 10px 0;
  }
}
@media only screen and (max-width: 460px) {
  .post-item h2 {
    padding-right: 0px;
  }
}
.post-item h2 a {
  color: #000000;
  text-decoration: none;
}
.post-item h2 a:hover {
  color: #c2995e;
}
.post-item:hover img {
  transition: all 0.1s linear;
  transform: scale(1.1);
}
.post-item:hover .entry-title a {
  color: #c2995e;
}

@media only screen and (max-width: 460px) {
  .single-post .section-title {
    font-size: 24px;
    line-height: 30px;
  }
}
.single-post .t-page-wraper {
  padding: 50px 0px;
  text-align: center;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .single-post .t-page-wraper {
    padding: 30px 0;
  }
}
.single-post .img-wraper {
  position: relative;
  max-width: 1115px;
  width: 100%;
  margin: 0 auto;
}
.single-post .img-wraper img {
  width: 100%;
  height: auto;
  display: block;
}
.single-post .entry-content {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
}
.single-post .entry-content .hr {
  border-top: 1px solid #eeeef0;
  margin-bottom: 50px;
}
@media only screen and (max-width: 768px) {
  .single-post .entry-content .hr {
    margin-bottom: 30px;
  }
}

.meta-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.meta-group .meta * {
  font-size: 12px;
  color: #000000;
}
.meta-group .meta-pub {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.meta-group .meta-category {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.meta-group .meta-category ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.meta-group .meta-category ul li a {
  font-size: 12px;
  padding: 5px;
  color: #000000;
  text-decoration: none;
}
.meta-group .meta-category ul li a:hover {
  color: #c2995e;
}

#author-bio {
  margin-top: 50px;
  padding: 30px 10px 10px;
  border-top: 1px solid #eeeef0;
  border-bottom: 1px solid #eeeef0;
  display: flex;
  gap: 10px;
}
@media only screen and (max-width: 768px) {
  #author-bio {
    flex-wrap: wrap;
  }
}
#author-bio #author-details .author-head p.h3 a {
  text-decoration: none;
}

@media only screen and (max-width: 400px) {
  #articles .section-title {
    font-size: 18px;
    line-height: 24px;
  }
}

.rank-math-breadcrumb p {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
@media only screen and (max-width: 768px) {
  .rank-math-breadcrumb p {
    gap: 3px;
  }
}
.rank-math-breadcrumb a {
  text-decoration: none;
  font-size: 16px;
}
@media only screen and (max-width: 460px) {
  .rank-math-breadcrumb a {
    font-size: 14px;
  }
}
@media only screen and (max-width: 400px) {
  .rank-math-breadcrumb a {
    font-size: 12px;
  }
}
.rank-math-breadcrumb .last {
  color: #000000;
  font-size: 16px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow: "----";
}
@media only screen and (max-width: 460px) {
  .rank-math-breadcrumb .last {
    font-size: 14px;
  }
}
@media only screen and (max-width: 400px) {
  .rank-math-breadcrumb .last {
    font-size: 12px;
  }
}

.go-pagination {
  display: block;
  width: 100%;
  text-align: center;
  margin: 50px 0;
}
@media only screen and (max-width: 768px) {
  .go-pagination {
    margin: 30px 0;
  }
}
.go-pagination .page-numbers {
  text-decoration: none;
  color: #000000;
  padding: 10px;
}
.go-pagination .page-numbers:hover {
  color: #c2995e;
}
.go-pagination .current {
  font-weight: bold;
  color: #fff;
  background-color: #000000;
}

.kk-ata {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .kk-ata {
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}
.kk-ata .kk-ata__wraper span {
  display: block;
  font-size: 12px;
  color: #000000;
  margin-bottom: 5px;
}
.kk-ata .kksr-muted,
.kk-ata .kksr-legend {
  font-size: 12px;
}

.tf-container {
  max-width: initial;
  padding: 0px;
}

.btn-styled {
  border-radius: 3px;
}
.btn-styled:hover {
  box-shadow: 0 0 10px 0 rgba(64, 64, 64, 0.43);
  border: 1px solid #fff;
}
.btn-styled:active {
  box-shadow: 0 0 0px 0 rgba(64, 64, 64, 0.43);
  border: 1px solid #fff;
}

.add-wishlist {
  color: #c2995e;
}

.tf-archive-desc {
  padding-left: 0px;
}

.tf-booking-form-tab,
.tf-booking-form-tab-mobile {
  display: none;
}

.tf_homepage-booking {
  border: none;
  box-shadow: none;
  background: none;
}

.acr-inc {
  color: #000000 !important;
}

.flatpickr-day.selected,
.startRange,
.endRange {
  background-color: #c2995e !important;
  border: 1px solid #c2995e !important;
}

.tf_homepage-booking .tf_destination-wrap,
.tf_homepage-booking .tf_selectperson-wrap,
.tf_homepage-booking .tf_selectdate-wrap,
.tf_homepage-booking .tf_submit-wrap {
  padding: 2px !important;
  border: none;
}
.tf_homepage-booking .tf_submit-wrap {
  background: none;
}
.tf_homepage-booking .tf_destination-wrap .tf_input-inner,
.tf_homepage-booking .tf_selectperson-wrap .tf_input-inner,
.tf_homepage-booking .tf_selectdate-wrap .tf_input-inner {
  border: 3px solid #c2995e !important;
  height: 55px;
  padding: 0 10px;
  border-radius: 3px;
  background-color: #fff;
}

.search-result-inner .tf-search-right form {
  position: sticky;
  top: 120px;
}

#recomended_section_wrapper .single_recomended_item .recomended_place_info_header {
  background-color: rgba(194, 153, 94, 0.9) !important;
  border: 1px solid transparent;
  transition: all 0.1s linear;
  border-radius: 3px;
  overflow: hidden;
}
@media only screen and (max-width: 460px) {
  #recomended_section_wrapper .single_recomended_item .recomended_place_info_header {
    width: 100% !important;
  }
}
#recomended_section_wrapper .single_recomended_item .recomended_place_info_header:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.25;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 1500ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
}
#recomended_section_wrapper .single_recomended_item:hover .recomended_place_info_header {
  background: #c2995e !important;
  border: 1px solid #fff;
  overflow: hidden;
  filter: brightness(1.1);
  box-shadow: 0 0 10px 0 rgba(64, 64, 64, 0.43);
  border: 1px solid #fff;
}
#recomended_section_wrapper .single_recomended_item:hover .recomended_place_info_header:after {
  left: 120%;
  transition: all 1500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.tf-archive-rating-wrapper {
  display: flex;
  align-items: center;
  flex-direction: inherit;
  gap: 10px;
}

.tf-hotel__title-wrap a {
  font-size: 21px;
  line-height: 27px;
}

.tf-title-wrap .post-type {
  display: none !important;
}

table,
td,
th {
  border: 1px solid #eeeef0;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin: 0 0 1.5em;
  width: 100%;
}

th {
  font-weight: 700;
}

td,
th {
  padding: 8px;
  border-width: 0 1px 1px 0;
}

.hero-right {
  max-width: 100%;
  width: 100%;
}

.btn {
  position: relative;
  background-color: #c2995e;
  border: 1px solid transparent;
  color: #fff;
  padding: 10px 50px;
  border-radius: 3px;
  text-decoration: none;
  transition: all 0.1s linear;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  overflow: hidden !important;
}
.btn:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.25;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 1500ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
}
.btn:hover {
  overflow: hidden;
  filter: brightness(1.1);
  box-shadow: 0 0 10px 0 rgba(64, 64, 64, 0.43);
  border: 1px solid #fff;
}
.btn:hover:after {
  left: 120%;
  transition: all 1500ms cubic-bezier(0.19, 1, 0.22, 1);
}
.btn:active {
  box-shadow: 0 0 0px 0 rgba(64, 64, 64, 0.43);
  border: 1px solid #fff;
}
@media only screen and (max-width: 768px) {
  .btn {
    padding: 10px 25px;
  }
}
@media only screen and (max-width: 400px) {
  .btn {
    width: 100%;
    font-size: 16px !important;
    white-space: break-spaces;
  }
}

.btn-revers {
  color: #c2995e;
  border: 1px solid #c2995e;
  padding: 10px 50px;
  border-radius: 100px;
  text-decoration: none;
  transition: 0.1s linear;
  font-weight: 400;
  display: inline-block;
}
.btn-revers:hover {
  background-color: #c2995e;
  color: #fff;
  box-shadow: 0 0 10px 0 rgba(64, 64, 64, 0.43);
  border: 1px solid #fff;
}
.btn-revers:active {
  box-shadow: 0 0 0px 0 rgba(64, 64, 64, 0.43);
  border: 1px solid #fff;
}
@media only screen and (max-width: 768px) {
  .btn-revers {
    padding: 10px 25px;
  }
}

.btn-rev {
  color: #c6ced3;
  border: 1px solid #c6ced3;
  padding: 10px 25px;
  border-radius: 100px;
  text-decoration: none;
  transition: 0.1s linear;
  font-weight: 500;
  display: inline-block;
}
.btn-rev:hover {
  color: #fff;
  border: 1px solid #c2995e;
  background-color: #c2995e;
}

.btn-wrap {
  display: block;
  margin: 30px 0;
}
.btn-wrap > a {
  font-size: 21px;
}
@media only screen and (max-width: 768px) {
  .btn-wrap > a {
    font-size: 16px;
  }
}

.b-header__wraper .btn {
  font-size: 21px;
  margin: 20px 0 50px 0;
}
@media only screen and (max-width: 998px) {
  .b-header__wraper .btn {
    margin: 20px 0;
    font-size: 18px;
  }
}
@media only screen and (max-width: 768px) {
  .b-header__wraper .btn {
    margin: 20px 0;
    font-size: 16px;
  }
}

*,
::after,
::before {
  box-sizing: border-box;
}

.form-group {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
}
.form-group .wpcf7-form-control-wrap {
  width: 100%;
  padding-right: 15px;
  padding-bottom: 15px;
}

.form-control {
  outline: none;
  border: 1px solid #c8e2fc;
  background: #fff;
  height: 50px;
  line-height: 34px;
  vertical-align: middle;
  border-radius: 3px;
  padding: 10px;
  margin: 5px 0 10px;
  width: 100%;
}

textarea.form-control {
  height: 200px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  width: 100%;
}

.col-2 {
  width: 50%;
}
@media only screen and (max-width: 768px) {
  .col-2 {
    width: 100%;
  }
}

.col-3 {
  width: 33.333%;
}
@media only screen and (max-width: 768px) {
  .col-3 {
    width: 100%;
  }
}

.form-group.checkbox {
  width: 70%;
}
@media only screen and (max-width: 768px) {
  .form-group.checkbox {
    width: 100%;
  }
}
.form-group.checkbox label {
  align-items: center;
  display: flex;
  gap: 10px;
}
.form-group.checkbox input {
  width: 20px;
}
.form-group.checkbox span {
  font-size: 12px;
}

.btn-form {
  width: 30%;
}
@media only screen and (max-width: 768px) {
  .btn-form {
    width: 100%;
  }
}

.wpcf7-submit {
  margin: 15px 25px;
  background: #c2995e;
  border: 1px solid #c2995e;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
}
@media only screen and (max-width: 768px) {
  .wpcf7-submit {
    width: 100%;
    display: block;
  }
}
.wpcf7-submit:hover {
  background-color: #c2995e;
  color: #fff;
}

.wpcf7-spinner {
  position: absolute;
  top: 30%;
  right: 0px;
}

.wpcf7-not-valid-tip {
  font-size: 12px !important;
  color: red !important;
}

select {
  border: 2px solid #fff !important;
}/*# sourceMappingURL=go-main.css.map */